.section-about-page {
    width: 80vw;
    height: 580px;
    z-index: 10 !important;
    background-color: #312320;
    box-shadow: 0 0 9px 6px #a56e3f inset, 0 0 40px 3px #fff3b6;
    border-radius: 40px;
    margin: 70px auto;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.section-margin-bottom {
    margin: 0 0 40px 0;
}

.title-content {
    align-self: center;
}
.section-inner p:nth-child(3) {
    margin-top: 10px;
}


/* ================================= 
              Nav Bar
==================================== */
.nav-about-page {
    right: 0;
    bottom: 8vh;
}
.nav-about-container {
    width: 100vw;
    z-index: 20;
    display: flex;
}
.about-btn {
    width: 50%;
}

/* ================================= 
  Media Queries
==================================== */


@media (min-height: 201px) and (max-height: 1000px) {
  .about-section {
    margin-top: 30px;
  }
  .about-inner {
    align-items: flex-end;
    flex-direction: row;
    width: 75vw;
    margin-top: 3vh;
  }
  .about-subtitle {
    margin-left: auto;
  }
  .section-about-page {
    height: calc(100vh - 280px);
    margin: 30px auto;
  }
  .title-content {
    font-size: 38px;
  }
  .section-margin-bottom {
    margin: 0 0 20px 0;
  }
  .section-inner h1 {
    color: rgba(255,255,220, 0.95);
    text-shadow: 30px -0.3em 1px rgba(255,215,190, 0.1);
  }
  .about-section-inner p {
    font-size: 1.1em;
  }
}

    
@media (min-width: 601px) and (max-width: 1000px) {
  .about-subtitle {
    display: none;
  }
    
  @media (min-height: 201px) and (max-height: 1000px) {
    .section-inner p {
      font-size: 1.0em;
    }
  } 
}
  
@media (min-width: 201px) and (max-width: 600px) {
  .title-content {
    font-size: 28px;
  }
  .about-section-inner p {
    font-size: 0.7em;
  }
  .about-subtitle {
    display: none;
  }
  @media (min-height: 801px) and (max-height: 1000px) {
    .section-about-page {
      height: calc(100vh - 280px);
    }
  }
  @media (min-height: 201px) and (max-height: 800px) {
    .title-content {
      margin-bottom: 10px;
    }
    .section-about-page {
      height: calc(100vh - 150px);
    }
  }
} 