/* ================================= 
  Base Element Styles
==================================== */
@font-face {
    font-family: "PingFangTC-Regular";
    src: url(PingFang-TC-Regular.otf) format("opentype");
  }
  
  
  * {
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent; /* for removing the mobile highlight */
  }
  body {
      font-family: PingFangTC-Regular, sans-serif;
      letter-spacing: 0.08em;
      margin: 0px;
      line-height: 0;
  }
  
  a { 
      text-decoration: none;
  }
  
  p{
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  button {
    margin: 0;
    padding: 0;
    border: 0px solid transparent; 
    outline: none;   
    background-color: transparent;
  }
  
  
  /* 拉下預選字選單 不顯示藍底 可以換掉白色 */
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
  }


/* ========================== */
/*     Button Settings        */
/* ========================== */

@keyframes showDiv{
  from {opacity: 0;}
   to {opacity: 1;}
}

.btn-div{
  padding: 20px 0 20px 0;
  animation: 0.5s 0.5s showDiv forwards;
  opacity: 0;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.btn {
    font-family: 'Permanent Marker', cursive;
	  font-size: 1.5em;
    width: 200px;
    height: 50px;
    background-color: #7aa76d;
    border: 0px;
	  padding: 8px 10px;
	  margin: 5px 0px;
	  border-radius: 3px;
	  color: #fff;

	-webkit-transition: 0.15s background-color ease;
	   -moz-transition: 0.15s background-color ease;
	    -ms-transition: 0.15s background-color ease;
	     -o-transition: 0.15s background-color ease;
	        transition: 0.15s background-color ease;
}

.btn:hover {
	background-color: #91cd85;
}
.btn {
	background-color: #60895a;
}

/* ========================== */
/*     Banner Text Settings      */
/* ========================== */

.banner {
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  display: inline-block;
  text-align: center;
  margin: 10px 0 30px 0;
}
/* ========================== */
/*     Flex Box Settings      */
/* ========================== */

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flex-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  margin: 30px 0 30px 0;
}

/* ========================== */
/*     Toggle Settings      */
/* ========================== */


input[type='checkbox'].toggle {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 55px;
  height: 28px;
  background-color: lightgray;
  position: relative;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  box-shadow: none;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
input[type='checkbox'].toggle:hover:after {
  background-color: #888686;
}
input[type='checkbox'].toggle:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #6d6a6a;
  top: 2px;
  left: 2px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
input[type='checkbox']:checked.toggle {
  -moz-box-shadow: inset 0 0 0 15px #60895a;
  -webkit-box-shadow: inset 0 0 0 15px #60895a;
  box-shadow: inset 0 0 0 15px #60895a;
}

input[type='checkbox']:checked.toggle:after {
  left: 29px;
  background-color: #fff;
}
