.final-area-div {
    position: absolute;
    bottom: 6.9vw;
    left: 0px;
    z-index: 19;
}

.final-area-bg {
    width: 30vw;
}

.final-area-img {
    width: 100%;
    height: auto;
}

.final-area-top-div, .final-area-last-div {
    width: 110px;
    position: absolute;
}
.final-area-card-img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.final-area-card-img:hover {
    transform: scale(2.3) translateX(40px);
}

.final-area-top-pos1, .final-area-top-pos5, .final-area-top-pos9, .final-area-top-pos13 {
    left: calc(50% - 27.2% - 110px/2 );
    top: 40%;
}
.final-area-top-pos2, .final-area-top-pos6, .final-area-top-pos10, .final-area-top-pos14 {
    left: calc(50% - 27.2% - 110px/2 );
    top: 35%;
}
.final-area-top-pos3, .final-area-top-pos7, .final-area-top-pos11, .final-area-top-pos15 {
    left: calc(50% - 27.2% - 110px/2 );
    top: 30%;
}
.final-area-top-pos4, .final-area-top-pos8, .final-area-top-pos12, .final-area-top-pos16 {
    left: calc(50% - 27.2% - 110px/2 );
    top: 25%;
}


.final-area-last-pos1, .final-area-last-pos5, .final-area-last-pos9, .final-area-last-pos13{
    right: calc(50% - 26.6% - 110px/2 );
    top: 40%;
}
.final-area-last-pos2, .final-area-last-pos6, .final-area-last-pos10, .final-area-last-pos14 {
    right: calc(50% - 26.6% - 110px/2 );
    top: 35%;
}
.final-area-last-pos3, .final-area-last-pos7, .final-area-last-pos11, .final-area-last-pos15 {
    right: calc(50% - 26.6% - 110px/2 );
    top: 30%;
}
.final-area-last-pos4, .final-area-last-pos8, .final-area-last-pos12, .final-area-last-pos16 {
    right: calc(50% - 26.6% - 110px/2 );
    top: 25%;
}

@media (min-width: 1001px) and (max-width: 1200px) {
    .final-area-bg {
        width: 35vw;
    }
    .final-area-top-div, .final-area-last-div {
        width: 90px;
    }

    .final-area-top-pos1, .final-area-top-pos5, .final-area-top-pos9, .final-area-top-pos13 {
        left: calc(50% - 27.2% - 90px/2 );
        top: 40%;
    }
    .final-area-top-pos2, .final-area-top-pos6, .final-area-top-pos10, .final-area-top-pos14 {
        left: calc(50% - 27.2% - 90px/2 );
        top: 35%;
    }
    .final-area-top-pos3, .final-area-top-pos7, .final-area-top-pos11, .final-area-top-pos15 {
        left: calc(50% - 27.2% - 90px/2 );
        top: 30%;
    }
    .final-area-top-pos4, .final-area-top-pos8, .final-area-top-pos12, .final-area-top-pos16 {
        left: calc(50% - 27.2% - 90px/2 );
        top: 25%;
    }
    
    
    .final-area-last-pos1, .final-area-last-pos5, .final-area-last-pos9, .final-area-last-pos13{
        right: calc(50% - 26.6% - 90px/2 );
        top: 40%;
    }
    .final-area-last-pos2, .final-area-last-pos6, .final-area-last-pos10, .final-area-last-pos14 {
        right: calc(50% - 26.6% - 90px/2 );
        top: 35%;
    }
    .final-area-last-pos3, .final-area-last-pos7, .final-area-last-pos11, .final-area-last-pos15 {
        right: calc(50% - 26.6% - 90px/2 );
        top: 30%;
    }
    .final-area-last-pos4, .final-area-last-pos8, .final-area-last-pos12, .final-area-last-pos16 {
        right: calc(50% - 26.6% - 90px/2 );
        top: 25%;
    }
}

@media (min-width: 801px) and (max-width: 1000px) {
    .final-area-bg {
        width: 100%;
    }
    .final-area-div {
        bottom: 0;
        left: 0px;
        width: 40%;
    }
    .final-area-card-img:hover {
        transform: scale(1.5) translateX(40px) translateY(-10px);
    }
    .final-area-top-div, .final-area-last-div {
        width: 12vw;
    }
    .final-area-top-pos1, .final-area-top-pos5, .final-area-top-pos9, .final-area-top-pos13 {
        left: calc(50% - 27.2% - 12vw/2 );
        top: 30%;
    }
    .final-area-top-pos2, .final-area-top-pos6, .final-area-top-pos10, .final-area-top-pos14 {
        left: calc(50% - 27.2% - 12vw/2 );
        top: 25%;
    }
    .final-area-top-pos3, .final-area-top-pos7, .final-area-top-pos11, .final-area-top-pos15 {
        left: calc(50% - 27.2% - 12vw/2 );
        top: 20%;
    }
    .final-area-top-pos4, .final-area-top-pos8, .final-area-top-pos12, .final-area-top-pos16 {
        left: calc(50% - 27.2% - 12vw/2 );
        top: 15%;
    }
    .final-area-last-pos1, .final-area-last-pos5, .final-area-last-pos9, .final-area-last-pos13 {
        right: calc(50% - 26.6% - 12vw/2 );
        top: 30%;
    }
    .final-area-last-pos2, .final-area-last-pos6, .final-area-last-pos10, .final-area-last-pos14 {
        right: calc(50% - 26.6% - 12vw/2 );
        top: 25%;
    }
    .final-area-last-pos3, .final-area-last-pos7, .final-area-last-pos11, .final-area-last-pos15 {
        right: calc(50% - 26.6% - 12vw/2 );
        top: 20%;
    }
    .final-area-last-pos4, .final-area-last-pos8, .final-area-last-pos12, .final-area-last-pos16 {
        right: calc(50% - 26.6% - 12vw/2 );
        top: 15%;
    }
 }
 @media (min-width: 201px) and (max-width: 800px) {
    .final-area-bg {
        width: 60vw;
    }
    .final-area-div {
        left: auto;
        right: 0;
        bottom: 0;
    }
    .final-area-card-img:hover {
        transform: none;
    }
    .final-area-top-div, .final-area-last-div {
        width: 15vw;
    }
    .final-area-top-pos1, .final-area-top-pos5, .final-area-top-pos9, .final-area-top-pos13 {
        left: calc(50% - 27.2% - 15vw/2 );
        top: 30%;
    }
    .final-area-top-pos2, .final-area-top-pos6, .final-area-top-pos10, .final-area-top-pos14 {
        left: calc(50% - 27.2% - 15vw/2 );
        top: 25%;
    }
    .final-area-top-pos3, .final-area-top-pos7, .final-area-top-pos11, .final-area-top-pos15 {
        left: calc(50% - 27.2% - 15vw/2 );
        top: 20%;
    }
    .final-area-top-pos4, .final-area-top-pos8, .final-area-top-pos12, .final-area-top-pos16 {
        left: calc(50% - 27.2% - 15vw/2 );
        top: 15%;
    }
    .final-area-last-pos1, .final-area-last-pos5, .final-area-last-pos9, .final-area-last-pos13 {
        right: calc(50% - 26.6% - 15vw/2 );
        top: 30%;
    }
    .final-area-last-pos2, .final-area-last-pos6, .final-area-last-pos10, .final-area-last-pos14 {
        right: calc(50% - 26.6% - 15vw/2 );
        top: 25%;
    }
    .final-area-last-pos3, .final-area-last-pos7, .final-area-last-pos11, .final-area-last-pos15 {
        right: calc(50% - 26.6% - 15vw/2 );
        top: 20%;
    }
    .final-area-last-pos4, .final-area-last-pos8, .final-area-last-pos12, .final-area-last-pos16 {
        right: calc(50% - 26.6% - 15vw/2 );
        top: 15%;
    }
 }