
.final-card-img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
}
.final-card-img{
    transition: transform 0.3s ease;
}
.final-card-img:hover{
    transform: scale(1.02);
}

.final-card-div{
    width: 20%;
    max-width: 200px;
    margin: 20px 0 20px 0;
    animation: 0.5s 0.5s showCards forwards;
    opacity: 0;
    border-radius: 8px;
}


@keyframes showCards{
    from {opacity: 0;}
     to {opacity: 1;}
}

.toggle-span-left {
    margin-right: 30px;
}

.toggle-span-right {
    margin-left: 30px;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-height: 601px) and (max-height: 1000px) {
    .flex-toggle {
        margin: 20px 0 10px 0;
    }
}

@media (min-height: 201px) and (max-height: 600px) {
    .flex-toggle {
        margin: 10px 0 5px 0;
    }
    .final-card-div {
        max-width: 120px;
    }
}
