
.final-card-img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
}
.final-card-img{
    transition: transform 0.3s ease;
}
.final-card-img:hover{
    transform: scale(1.02);
}

.final-card-div{
    width: 20%;
    max-width: 200px;
    margin: 20px 0 20px 0;
    animation: 0.5s 0.5s showCards forwards;
    opacity: 0;
    border-radius: 8px;
}


@keyframes showCards{
    from {opacity: 0;}
     to {opacity: 1;}
}

.toggle-span-left {
    margin-right: 30px;
}

.toggle-span-right {
    margin-left: 30px;
}


/* ================================= 
  Media Queries
==================================== */


@media (min-width: 1001px) and (max-width: 1200px) {
    .final-bet-popup {
        width: 800px;
        height: 60%;
        left: calc(50% - 800px/2);
        top: calc(50% - 60%/2 - 5%);
    }
}

@media (min-width: 801px) and (max-width: 1000px) {
    .final-bet-popup {
        width: 600px;
        height: 42%;
        left: calc(50% - 600px/2);
        top: calc(50% - 50%/2 - 5%);
    }
}
@media (min-width: 401px) and (max-width: 800px) {
    .final-bet-popup {
        width: 80%;
        height: 42%;
        left: calc(50% - 80%/2);
        top: calc(50% - 50%/2 - 5%);
    }
}