.btn-area {
    position: absolute;
    bottom: 6.9vw;
    right: 0;
    /* left: calc(50% - 190px); */
}
.btn-bg {
    width: 480px;
    z-index: 10;
}

.game-btn {
    width: 120px;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: absolute;
    top: 27px;
}
.game-btn:hover{
    transform: scale(1.05);
}

.btn-pos1 {
    left: 23px;
}
.btn-pos2 {
    left: calc(23px + 156px);
}
.btn-pos3 {
    left: calc(23px + 157px*2);
}

.head-now {
    width: 7vw;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: -3vw;
    left: -5vw;
    -webkit-box-shadow: 0 0 25px rgba(180, 123, 15, 0.66), 0 0px 10px rgba(11, 6, 61, 0.75), inset 0 0px 10px rgba(0, 0, 0, .75);
    box-shadow: 0 0 25px rgba(180, 123, 15, 0.66), 0 0px 10px rgba(11, 6, 61, 0.75), inset 0 0px 10px rgba(0, 0, 0, .75);
    z-index: 12;
 }
 
 .name-now {
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    top: -3vw;
    left: -1vw;
    width: 15vw;
    height: 3vw;
    background-color: lightgray;
    font-size: 2.2em;
    line-height: 1.4em;
    z-index: 5;
    border-radius: 0% 30px 0% 0%;
    padding-left: 4vw;
 }

 @media (min-width: 901px) and (max-width: 1200px) {
    .btn-bg {
        width: 400px;
    }
    .head-now {
        width: 9vw;
        top: -5.2vw;
     }
     .name-now {
        left: 1vw;
        top: -4.2vw;
        height: 4.2vw;
        width: 17vw;
        border-radius: 0% 40px 0% 0%;
        font-size: 2.0em;
     }
     .game-btn {
        width: 93px;
    }
    .btn-pos2 {
        left: calc(23px + 130px);
    }
    .btn-pos3 {
        left: calc(23px + 130px*2);
    }
 }
