:root {
    --logo-color: rgba(106, 68, 42, 0.95);
    --logo-shadow-color: #D3A988;
  }

.home-div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url('../../dist/imgs/home-bg.png'); 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.logo-div {
    margin-top: 5vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}

.subtitle {
    font-family: 'Taibaijan_Bold', cursive;
    font-size: 30px;
    line-height: 1.6em;
    margin-left: 7vw;
}
#logo-no1:after {
    content:"CAMEL";
    position: absolute;
    left: 8px;
    top: 15px;
}
#logo-no2:after {
    content:"UP";
    position: absolute;
    left: 8px;
    top: 15px;
}

.logo {
    font-family: 'Taibaijan_Bold', cursive;
    color: var(--logo-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 200px;
    font-weight: 800;
    letter-spacing: 15px;
    line-height: 1;
    text-shadow: var(--logo-shadow-color) 6px 4px 0;
    position: relative;
}
.logo:after {
    background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, #555 25%, #555 50%, transparent 50%, transparent 75%, #555 75%);
    background-size: 4px 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    z-index: -5;
    display: block;
    text-shadow: none;
}

.box-shadow-effect
{
  	position:relative;
    -webkit-box-shadow:0 1px 15px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 15px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 15px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.box-shadow-effect:before, .box-shadow-effect:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.box-shadow-effect:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/* ================================= 
            Img Carousel
==================================== */

.bullet-div {
    position: absolute;
    width: 45vw;
    height: 45vw;
    max-width: 750px;
    max-height: 750px;
    bottom: calc(50% - 45vw/2);
    left: calc(70% - 45vw/2);
    z-index: 3;
    cursor: pointer;
}

.bullet-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.introduction-div {
    height: 45vw;
    max-height: 750px;
    background-color: rgb(215, 218, 218);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.introduction-img {
    width: 100%; 
    height: 100%;
    position:absolute; 
    background-size: cover;
    background-position: center center;
    
    top: 0px; left: 100%;
    transition:left 1s;
}

.introduction-img:first-child {
    left:0px;
} 

.introduction-div > .in{
    animation: img-in 0.5s;
    animation-fill-mode: forwards;
}

.introduction-div > .out{
    animation: img-out 0.5s;
    animation-fill-mode: forwards;
}

.pre-load-img {
    z-index: -2;
}
@keyframes img-in
{
  0%
  {
    left: 100%;
  }
  100%
  {
    left: 0%;
  }
}

@keyframes img-out
{
  0%
  {
    left: 0%;
  }
  100%
  {
    left: -100%;
  }
}

/* ================================= 
  Media Queries
==================================== */


@media (min-width: 1001px) and (max-width: 1200px) {
    .logo {
        font-size: 150px;
    }
    .bullet-div {
        width: 500px;
        height: 500px;
        bottom: calc(50% - 500px/2);
        left: calc(65% - 500px/2);
    }
    .introduction-div {
        height: 500px;
    }
    @media (min-height: 501px) and (max-height: 800px) {
        .subtitle {
            margin-left: 0;
            position: absolute;
            right: 8vw;
            top: 65px;
        }
    }
}

@media (min-width: 801px) and (max-width: 1000px) {
    .logo {
        font-size: 150px;
    }
    .subtitle {
        margin-left: 0;
        position: absolute;
        right: 8vw;
        top: 65px;
    }
    .bullet-div {
        width: 470px;
        height: 470px;
        bottom: calc(50% - 470px/2);
        left: calc(68% - 470px/2);
    }
    .introduction-div {
        height: 470px;
    }

}

@media (min-width: 501px) and (max-width: 800px) {
    .logo {
        font-size: 22vw;
    }
    .subtitle {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }
    .logo-div {
        flex-direction: row;
        margin-left: 0;
        justify-content: center;
    }
    #logo-no1 {
        margin-right: 7vw;
    }
    .bullet-div {
        width: 450px;
        height: 450px;
        bottom: auto;
        left: calc(50% - 450px/2);
        top: calc(40vw*0.9 + 50px);
    }
    .introduction-div {
        height: 450px;
    }
    @media (min-height: 701px) and (max-height: 1000px) {
        .logo {
            font-size: 18vw;
        }
        .bullet-div {
            width: 400px;
            height: 270px;
            bottom: auto;
            left: calc(50% - 400px/2);
            top: calc(30vw*0.8 + 70px);
        }
        .introduction-div {
            height: 270px;
            border-radius: 40px;
        }
        .bullet-img {
            border-radius: 40px;
        }
    }

}

@media (min-width: 201px) and (max-width: 500px) {
    .logo {
        font-size: 18vw;
        letter-spacing: 10px;
    }
    .subtitle {
        display: block;
        text-align: center;
        font-size: 6vw;
        margin-left: 0;
        margin-top: 20px;
    }
    .logo-div {
        flex-direction: row;
        margin-left: 0;
        justify-content: center;
    }
    #logo-no1 {
        margin-right: 4vw;
    }
    .bullet-div {
        width: 80vw;
        height: 80vw;
        bottom: auto;
        left: calc(50% - 80vw/2);
        top: calc(40vw*0.9 + 50px);
    }
    .introduction-div {
        height: 80vw;
    }

    @media (min-height: 701px) and (max-height: 1000px) {
        .logo {
            font-size: 18vw;
        }
        .bullet-div {
            width: 80vw;
            height: 270px;
            bottom: auto;
            left: calc(50% - 80vw/2);
            top: calc(30vw*0.8 + 100px);
        }
        .introduction-div {
            height: 270px;
            border-radius: 40px;
        }
        .bullet-img {
            border-radius: 40px;
        }
    }
    @media (min-height: 201px) and (max-height: 500px) {
        .subtitle {
            display: none;
        }
        .bullet-div {
            top: calc(50vh - 90vw/2);
        }
    }

}