.nav-ul {
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5em;
    line-height: 1.6rem;
    display: flex;
    justify-content: space-around;
}

#menu {
    width: 90%;
    list-style: none;
    margin: 10px 0 0 0; padding: 25px 10px;
    border-top: 4px double #AAA;
    border-bottom: 4px double #AAA;
    position: relative;
    text-align: center;
  }
  #menu li {
    display: inline-block;
    width: 173px;
    margin: 0 10px;
    position: relative;
    -webkit-transform: skewy(-3deg);
    -webkit-backface-visibility: hidden;
    -webkit-transition: 200ms all;
    transform: skewy(-3deg);
    backface-visibility: hidden;
    transition: 200ms all;
  }
  #menu li span {
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
    font-weight: 800;
    display: block;
    background: #FFF;
    padding: 15px 20px;
    color: #333;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    position: relative;
    z-index: 1;
    text-shadow: 
          1px 1px 0px #FFF, 
          2px 2px 0px #999,
          3px 3px 0px #FFF;
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.05) 100%);
    -webkit-transition: 1s all;
    transition: 1s all;
    background-image: -webkit-linear-gradient(left top, 
          transparent 0%, transparent 25%, 
          rgba(0,0,0,.15) 25%, rgba(0,0,0,.15) 50%, 
          transparent 50%, transparent 75%, 
          rgba(0,0,0,.15) 75%);
    background-size: 4px 4px;
    box-shadow: 
          0 0 0 1px rgba(0,0,0,.4) inset, 
          0 0 20px -5px rgba(0,0,0,.4),
          0 0 0px 3px #FFF inset;
  }
  #menu li:hover {
    width: 203px;
    margin: 0 -5px;
  }
  #menu li span:hover {
    color: #d90075;
  }
  #menu li:after,
  #menu li:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    background: #BBB;
    -webkit-transform: skewY(8deg);
    transform: skewY(8deg);
    border-radius: 4px;
    z-index: -3;
  }
  #menu li:after {
    background-image: -webkit-linear-gradient(left, transparent 0%, rgba(0,0,0,.4) 100%);
    right: 0;
    top: -4px; 
  }
  #menu li:before {
    left: 0;
    bottom: -4px;
    background-image: -webkit-linear-gradient(right, transparent 0%, rgba(0,0,0,.4) 100%);
  }