
.bet-card-img, .bet-card-back{
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
}
.bet-card-img{
    transition: transform 0.3s ease;
}
.bet-card-img:hover{
    transform: scale(1.02);
}

.bet-card-div{
    width: 20%;
    max-width: 200px;
    padding: 20px 0 20px 0;
    animation: 0.5s 0.5s showCards forwards;
    opacity: 0;
}


@keyframes showCards{
    from {opacity: 0;}
     to {opacity: 1;}
}

.card{
    position: relative;
    border-radius: 8px;
}
.bet-card-back{
    position: absolute;
    top: 0;
    left:0;
}

.front{
    z-index: 10005;
}
.back{
    z-index: -1;
}


.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.selected-card-div{
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 20px 0;
    opacity: 0;
    animation: 0.5s 0.5s showCards forwards;
}

.selected-card-img {
    width: 10%;
    max-width: 100px;
    height: auto;
}
.selected-card-span{
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5em;
    margin-right: 10%;
}

.btn-div{
    padding: 20px 0 20px 0;
    animation: 0.5s 0.5s showCards forwards;
    opacity: 0;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
}
.btn{
    font-family: 'Permanent Marker', cursive;
	font-size: 1.5em;
    width: 200px;
    height: 50px;
    background-color: #7aa76d;
    border: 0px;
	padding: 8px 10px;
	margin: 5px 0px;
	border-radius: 3px;
	color: #fff;

	-webkit-transition: 0.15s background-color ease;
	   -moz-transition: 0.15s background-color ease;
	    -ms-transition: 0.15s background-color ease;
	     -o-transition: 0.15s background-color ease;
	        transition: 0.15s background-color ease;
}

.btn:hover {
	background-color: #91cd85;
}
.btn:active {
	background-color: #60895a;
}
