/* ================================= 
    Base Layout Styles
==================================== */

.scene-canvas {
    width: 100vw;
    height: 94vh;

}
/* 旋轉視角按鈕 */

.camera-area {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    border-radius: 40px;
    background-color: #ffffff;
    height: 60px;
}
.camera-btn {
    display: inline-block;
    width: 60px;
}
.camera-img {
    width: 40px;
    margin-top: 12px;
}
.arrow-img {
    width: 40px;
    margin-top: 9px;
}

.arrow-right {
    padding-left: 10px;
}

.arrow-left {
    padding-right: 10px;
}

.camera-area:hover {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: 0 0px 20px rgba(0, 0, 0, .075), 0 0 9px rgba(255, 255, 255, .6);
    box-shadow: 0 0px 20px rgba(0, 0, 0, .075), 0 0 9px rgba(255, 255, 255, 0.6)
}

.dice-area {
    position: absolute;
    top: 0px;
    left: 0;
}

.dice-his-img {
    width: 435px;
}

.dice-all {
    border-radius: 5px;
}
.dice-color-img1 {
    position: absolute;
    top: 31px;
    left: 44.3px;
    width: 57px;
    height: 52px;
}

.dice-color-img2 {
    position: absolute;
    top: 30px;
    left: calc(95px + 44.3px);
    width: 57px;
    height: 53px;
}

.dice-color-img3 {
    position: absolute;
    top: 31px;
    left: calc(95px*2 + 45px);
    width: 57px;
    height: 52px;
}

.dice-color-img4 {
    position: absolute;
    top: 31px;
    left: calc(95px*3 + 46px);
    width: 57px;
    height: 52px;
}
/* ================================= 
  Media Queries
==================================== */


@media (min-width: 801px) and (max-width: 1200px) {
    .dice-his-img {
        width: 380px;
    }
    .dice-color-img1 {
        top: 25px;
        left: 37px;
        width: 53px;
        height: 51px;
    }
    .dice-color-img2 {
        top: 25px;
        left: calc(84px + 37px);
        width: 51px;
        height: 49px;
    }
    .dice-color-img3 {
        top: 25px;
        left: calc(84px*2 + 37px);
        width: 50px;
        height: 49px;
    }
    .dice-color-img4 {
        top: 25px;
        left: calc(84px*3 + 37px);
        width: 50px;
        height: 47px;
    }
 }

 
@media (min-width: 201px) and (max-width: 800px) {
    .dice-his-img {
        width: 300px;
    }
    .dice-color-img1 {
        top: 20px;
        left: 29px;
        width: 42px;
        height: 39px;
    }
    .dice-color-img2 {
        top: 19px;
        left: calc(58px + 37px);
        width: 42px;
        height: 39px;
    }
    .dice-color-img3 {
        top: 19px;
        left: calc(58px*2 + 45px);
        width: 42px;
        height: 39px;
    }
    .dice-color-img4 {
        top: 19px;
        left: calc(58px*3 + 54px);
        width: 41px;
        height: 39px;
    }
 }
 @media (min-width: 201px) and (max-width: 600px) {
    .camera-area {
        right: auto;
        top: calc(100vw*0.15 - 5px);
        left: 15px;
        width: 30vw;
        display: flex;
        justify-content: center;
    }
    .dice-his-img {
        width: 50vw;
    }
    .dice-color-img1 {
        top: 2.6vw;
        left: 5vw;
        width: 7.5vw;
        height: 7vw;
    }
    .dice-color-img2 {
        top: 2.8vw;
        left: 16vw;
        width: 7.3vw;
        height: 7vw;
    }
    .dice-color-img3 {
        top: 2.8vw;
        left: 26.7vw;
        width: 7.2vw;
        height: 7vw;
    }
    .dice-color-img4 {
        top: 2.8vw;
        left: 38vw;
        width: 7.2vw;
        height: 7vw;
    }

 }
 @media (min-width: 201px) and (max-width: 450px) {
    .arrow-img {
        width: 30px;
        margin-top: 0px;
    }
    .camera-area {
        height: 42px;
    }
    .camera-img {
        width: 30px;
        margin-top: 6px;
    }
}