
.tutorials {
    line-height: 1.6em;
    display: flex;
    flex-direction: column;
}
.tutorials-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url('../../dist/imgs/home-bg.png'); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.opening {
    width: 100%;
    height: 500px;
    /* background: linear-gradient(to right bottom, #edad70, #9b4828); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url('../../dist/imgs/guide-bg.jpg'); 
    transform: skewY(-6deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: top left;
  }
/* .opening:before {
    content: "";
    background: linear-gradient(to bottom, rgba(255,245,183, 0.05), rgba(255,245,183, 0.4));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  } */
.tutorial-gif {
  width: 57vw;
  max-width: 850px;
  height: auto;
  position: absolute;
  top: 250px;
  right: 8vw;
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.6);
  z-index: 50;
  border-radius: 30px;
}
.opening-inner {
    align-self: flex-start;
    color: #333;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 7vh;
    margin-left: 13vw;
    line-height: 5.6em;
    text-shadow: #ffffbf 1px 1px 3px;
  }


  
.section-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.section {
    color: #a4a09e;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
    line-height: 1.6em;
  }

.title-ch {
    font-size: 50px;
    line-height: 1.0em;
  }
  
.section-inner {
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
.section-inner h1 {
    color: rgba(255,255,220, 0.95);
    text-shadow: 50px -0.6em 1px rgba(255,215,190, 0.2);
    margin-top: 0.25em;
    line-height: 1.2em;
  }
.section-inner p {
    width: 100%;
    font-size: 1.3em;
    line-height: 1.6em;
    color: #ddd;
  }
  
.section-image {
    width: 40%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }

.shadow {
    width: 70%;
    height: 20vh;
    position: absolute;
    background-color: rgba(255, 145, 113, 0.3);
    z-index: 1;
    transform: skewY(20deg) skewX(-15deg);
    top: -21vh;
    right: 5%;
  }

/* ================================= 
              Nav Bar
==================================== */
.nav-tutorial-page {
  bottom: 8vh;
  right: 6vw;
}
.nav-flex-container {
  width: 30vw;
  z-index: 20;
  display: flex;
}
.tutorial-btn {
  width: 50%;
}
.tutorial-btn > a {
  display: block
}

/* ================================= 
              Slider
==================================== */
     
.csslider {
    width: 50vw;
    height: 27vh;
    min-height: 280px;
    display: inline-block;
    text-align: left;
    position: absolute;
    z-index: 11;
    left: 150px;
    bottom: 100px;
  }
  .csslider > input {
    display: none;
  }
  .csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
    margin-left: -900%;
  }
  .csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
    margin-left: -800%;
  }
  .csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
    margin-left: -700%;
  }
  .csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
    margin-left: -600%;
  }
  .csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
    margin-left: -500%;
  }
  .csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
    margin-left: -400%;
  }
  .csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
    margin-left: -300%;
  }
  .csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
    margin-left: -200%;
  }
  .csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
    margin-left: -100%;
  }
  .csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
    margin-left: 0%;
  }
  .csslider > ul {
    position: relative;
    width: inherit;
    height: inherit;
    z-index: 1;
    background-color: #312320;
    box-shadow: 0 0 9px 6px #a56e3f inset, 0 0 40px 3px #fff3b6;
    border-radius: 40px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .csslider > ul > li {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 15px;
    font-size: initial;
    line-height: normal;
    -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
  }
  .csslider > ul > li.scrollable {
    overflow-y: scroll;
  }
  .csslider > .navigation {
    position: absolute;
    bottom: -8px;
    left: 50%;
    z-index: 10;
    margin-bottom: -10px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .csslider > .navigation > div {
    margin-left: -100%;
  }
  .csslider > .navigation label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 6px;
    padding: 4px;
    background: #3a3a3a;
  }
  .csslider > .navigation label:hover:after {
    opacity: 1;
  }
  .csslider > .navigation label:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -6px;
    background: #fff3b6;
    border-radius: 50%;
    padding: 6px;
    opacity: 0;
  }
  .csslider > .arrows {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .csslider.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
  }
  .csslider.inside .navigation label {
    border: 1px solid #7e7e7e;
  }
  .csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
  .csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
  .csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
  .csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
  .csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
  .csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
  .csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
  .csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
  .csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
  .csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
  .csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after {
    opacity: 1;
  }
  .csslider > .arrows {
    position: absolute;
    left: -31px;
    top: 50%;
    width: 100%;
    height: 26px;
    padding: 0 31px;
    z-index: 10;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.9));
  }
  .csslider > .arrows label {
    display: none;
    position: absolute;
    top: -50%;
    padding: 13px;
    box-shadow: inset 2px -2px 0 1px #3a3a3a;
    cursor: pointer;
    -moz-transition: .15s;
    -o-transition: .15s;
    -webkit-transition: .15s;
    transition: .15s;
  }
  .csslider > .arrows label:hover {
    box-shadow: inset 3px -3px 0 2px #7a4d27;
    margin: 0 0px;
  }
  .csslider > .arrows label:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%;
  }
  .csslider.infinity > input:first-of-type:checked ~ .arrows label:last-of-type,
  .csslider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(0),
  .csslider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(1),
  .csslider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(2),
  .csslider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(3),
  .csslider > input:nth-of-type(5):checked ~ .arrows label:nth-of-type(4),
  .csslider > input:nth-of-type(6):checked ~ .arrows label:nth-of-type(5),
  .csslider > input:nth-of-type(7):checked ~ .arrows label:nth-of-type(6),
  .csslider > input:nth-of-type(8):checked ~ .arrows label:nth-of-type(7),
  .csslider > input:nth-of-type(9):checked ~ .arrows label:nth-of-type(8),
  .csslider > input:nth-of-type(10):checked ~ .arrows label:nth-of-type(9),
  .csslider > input:nth-of-type(11):checked ~ .arrows label:nth-of-type(10) {
    display: block;
    left: 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .csslider.infinity > input:last-of-type:checked ~ .arrows label:first-of-type,
  .csslider > input:nth-of-type(1):checked ~ .arrows label:nth-of-type(2),
  .csslider > input:nth-of-type(2):checked ~ .arrows label:nth-of-type(3),
  .csslider > input:nth-of-type(3):checked ~ .arrows label:nth-of-type(4),
  .csslider > input:nth-of-type(4):checked ~ .arrows label:nth-of-type(5),
  .csslider > input:nth-of-type(5):checked ~ .arrows label:nth-of-type(6),
  .csslider > input:nth-of-type(6):checked ~ .arrows label:nth-of-type(7),
  .csslider > input:nth-of-type(7):checked ~ .arrows label:nth-of-type(8),
  .csslider > input:nth-of-type(8):checked ~ .arrows label:nth-of-type(9),
  .csslider > input:nth-of-type(9):checked ~ .arrows label:nth-of-type(10),
  .csslider > input:nth-of-type(10):checked ~ .arrows label:nth-of-type(11),
  .csslider > input:nth-of-type(11):checked ~ .arrows label:nth-of-type(12) {
    display: block;
    right: 0;
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }

/* ================================= 
  Media Queries
==================================== */

@media (min-height: 801px) and (max-height: 1000px) {
  .opening {
    height: 420px;
  }
  .opening-inner .tutorial-subtitle {
    width: 500px;
    margin-left: 3vw;
    font-size: 29px;
  }
  .tutorial-gif {
    max-width: 700px;
    top: calc(80vh - 550px);
  }
  .csslider {
    height: 280px;
  }
}
@media (min-height: 201px) and (max-height: 800px) {
  .opening {
    height: 330px;
  }
  .opening-inner .tutorial-subtitle {
    width: 400px;
  }
  .tutorial-gif {
    max-width: 500px;
    top: calc(80vh - 490px);
    right: 19vw;

  }
  .csslider {
    height: 280px;
  }
}

@media (min-width: 1201px) and (max-width: 1500px) {
  .csslider {
    width: 80vw;
    left: 10vw;
  }
  .tutorial-gif {
    width: 780px;
    right: calc(50vw - 780px/2);
  }
  .opening {
    height: 420px;
  }
  .nav-flex-container {
    width: 35vw;
  }
  .nav-tutorial-page {
    bottom: 3vh;
    right: 4vw;
  }
  .section {
    margin-top: 60px;
  }
  .section-inner p {
    font-size: 1.2em;
  }
  .title-ch {
    font-size: 45px;
  }
  @media (min-height: 801px) and (max-height: 1000px) {
    .opening-inner {
      margin-top: 4vh;
      margin-left: 6vw;
    }
    .opening-inner .tutorial-subtitle {
      display: none;
    }
  }
  @media (min-height: 201px) and (max-height: 800px) {
    .opening-inner .tutorial-subtitle {
      display: none;
    }
    .opening {
      height: 330px;
    }
  }
}
  
@media (min-width: 1001px) and (max-width: 1200px) {
  .csslider {
    width: 80vw;
    left: 10vw;
    z-index: unset;
  }
  .tutorial-gif {
    width: 780px;
    right: calc(50vw - 780px/2);
  }
  .opening {
    height: 420px;
  }
  .nav-flex-container {
    width: 100vw;
  }
  .nav-tutorial-page {
    right: 0;
    bottom: 5vh;
  }
  .csslider > .navigation {
    z-index: 100;
  }
  .section-inner p {
    font-size: 1.2em;
  }
  .title-ch {
    font-size: 45px;
  }
  @media (min-height: 801px) and (max-height: 1000px) {
    .opening-inner .tutorial-subtitle {
      display: none;
    }
    .tutorial-gif {
      width: 530px;
      right: calc(50vw - 530px/2);
      top: calc(80vh - 480px);
    }
  }
  @media (min-height: 201px) and (max-height: 800px) {
    .opening-inner .tutorial-subtitle {
      display: none;
    }
    .opening {
      height: 330px;
    }
  }
  
}

  
@media (min-width: 601px) and (max-width: 1000px) {
  .csslider {
    width: 74vw;
    left: 13vw;
    height: 300px;
    z-index: unset;
    bottom: 170px;
  }
  .tutorial-gif {
    width: 550px;
    right: calc(50vw - 550px/2);
    top: 270px;
  }
  .opening {
    height: 330px;
  }
  .nav-flex-container {
    width: 100vw;
  }
  .nav-tutorial-page {
    right: 0;
  }
  .csslider > .navigation {
    z-index: 100;
  }
  .section-inner p {
    font-size: 1.1em;
  }
  .title-ch {
    font-size: 40px;
  }
  @media (min-height: 801px) and (max-height: 1000px) {
    .opening-inner .tutorial-subtitle {
      display: none;
    }
    .tutorial-gif {
      width: 480px;
      right: calc(50vw - 480px/2);
      top: calc(90vh - 600px);
    }
    .csslider {
      height: 280px;
    }
    .opening-inner {
      margin-top: 3vh;
    }
  }
  @media (min-height: 201px) and (max-height: 800px) {
    .opening-inner .tutorial-subtitle {
      display: none;
    }
    .tutorial-gif {
      width: 300px;
      right: calc(50vw - 550px/2);
      top: calc(80vh - 430px);
      border-radius: 10px;
    }
    .csslider {
      height: 250px;
    }
    .opening {
      height: 330px;
    }
  }
  
}

@media (min-width: 201px) and (max-width: 600px) {
  .csslider > .arrows {
    left: 0px;
    padding: 0 0px;
    filter: drop-shadow(2px 0px 4px rgba(255, 255, 255, 0.9)) drop-shadow(0px 2px 4px rgba(255, 255, 255, 0.9)) drop-shadow(-2px 0px 8px rgba(255, 255, 255, 0.9));
  }
  .csslider {
    width: 74vw;
    left: 13vw;
    z-index: unset;
    bottom: 170px;
    height: calc(52vh - 30vw);
  }
  .tutorial-gif {
    width: 80vw;
    right: calc(50vw - 80vw/2);
    top: 26vh;
  }
  .opening {
    height: 260px;
  }
  .nav-flex-container {
    width: 100vw;
  }
  .nav-tutorial-page {
    right: 0;
  }
  .csslider > .navigation {
    z-index: 100;
  }
  .section-inner p {
    font-size: 1.1em;
  }
  .title-ch {
    font-size: 40px;
  }
  @media (min-height: 801px) and (max-height: 1000px) {
    .opening-inner {
      margin-top: 3vh;
      margin-left: 10vw;
    }
    .opening-inner .tutorial-subtitle {
      display: none;
    }
    .tutorial-gif {
      top: 15vh;
    }
    .csslider {
      height: calc(60vh - 30vw);
      bottom: 160px;
    }
  }
  @media (min-height: 601px) and (max-height: 800px) {
    .opening-inner {
      margin-top: 3vh;
      margin-left: 10vw;
    }
    .opening-inner {
      display: none;
    }
    .tutorial-gif {
      top: auto;
      width: 50vw;
      bottom: 200px;
      right: calc(50vw - 50vw/2);
      border-radius: 10px;
    }
    .csslider {
      height: calc(100vh - 200px);
      bottom: 160px;
    }
    .section-inner h1 {
      margin-top: 0;
    }
    .section-inner p {
      font-size: 0.9em;
    }
   .title-ch {
      font-size: 35px;
    }
  }
  @media (min-height: 201px) and (max-height: 600px) {
    .opening-inner {
      margin-top: 3vh;
      margin-left: 10vw;
    }
    .opening-inner {
      display: none;
    }
    .tutorial-gif {
      top: auto;
      width: 50vw;
      bottom: 35vh;
      right: calc(50vw - 50vw/2);
      border-radius: 10px;
    }
    .csslider {
      height: 62vh;
      bottom: 23vh;
    }
    .section-inner h1 {
      margin-top: 0;
    }
    .section-inner p {
      font-size: 0.9em;
    }
    .title-tutorials-content {
      display: none;
    }
    .section {
      margin-top: 10vh;
    }
  }
}